img.rightlogo {
    padding-top: 5px;
}
div#explorations-in-free-software-gis h1 {
    font-size: xx-large;
    font-weight: bold;
}
div#purpose-of-this-collection {
    background-color: #FDFDDA;
    border: 1px solid #000000;
    padding: 0% 5% 3% 5%;
    margin-top: 25px;
}
div#the-collection {
    background-color: #FDFDDA;
    border: 1px solid #000000;
    padding: 0% 5% 3% 5%;
    margin-top: 25px;
}
div#the-collection h2 {
    font-size: x-large;
    font-weight: bold;
}
